.contributors
{
    min-height:60px;
    width: 130px;

    left: 500px;
}

.contributors .spin.spin_visible
{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.contributors__contributor
{
    position: relative;

    height: 35px;

    padding-right: 40px;
}

.contributors__contributor-login
{
    font-size: 14px;

    display: inline-block;

    height: 35px;
    line-height: 35px;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contributors__contributor-pic
{
    position: absolute;
    right: 0;
    top: 0;

    height: 35px;
    width: 35px;

    border-radius: 50%;
}

.contributors__first-letter
{
    color: #fb607f;
}
