.paranja
{
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background: #fff;
}

.paranja_visible_yes
{
    z-index: 1;

    opacity: .6;
}
