.pull-request
{
    margin: 0 auto;
}

.pull-request__cell
{
    padding: 5px 15px;

    box-shadow: 0 -1px 0 0 #e5e5e5 inset;

    vertical-align: middle;
}

/* FROM _ TO*/
.pull-request__cell_type_from-to
{
    padding: 0 5px;

    white-space: nowrap;

    color: #598a9f;
    border-radius: 3px;
    background-color: #e8f0f8;
}

/* MORE */

.pull-request__cell_type_more
{
    text-align: center;
}
